-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: siapae
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `attendances`
--

DROP TABLE IF EXISTS `attendances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `attendances` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `student_id` bigint unsigned NOT NULL,
  `date` date NOT NULL,
  `educational_axis` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `advances` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `difficulties` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `signature_id` bigint unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `attendances_student_id_foreign` (`student_id`),
  KEY `attendances_signature_id_foreign` (`signature_id`),
  CONSTRAINT `attendances_signature_id_foreign` FOREIGN KEY (`signature_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `attendances_student_id_foreign` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attendances`
--

LOCK TABLES `attendances` WRITE;
/*!40000 ALTER TABLE `attendances` DISABLE KEYS */;
/*!40000 ALTER TABLE `attendances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache` (
  `key` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `value` mediumtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` int NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache_locks` (
  `key` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `owner` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` int NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `donations`
--

DROP TABLE IF EXISTS `donations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `donations` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `student_id` bigint unsigned NOT NULL,
  `Jan` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Fev` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Mar` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Abr` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Mai` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Jun` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Jul` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Ago` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Set` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Out` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Nov` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Dez` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `year_of_donation` int NOT NULL DEFAULT '2026',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `donations_student_id_foreign` (`student_id`),
  CONSTRAINT `donations_student_id_foreign` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `donations`
--

LOCK TABLES `donations` WRITE;
/*!40000 ALTER TABLE `donations` DISABLE KEYS */;
/*!40000 ALTER TABLE `donations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `educationals`
--

DROP TABLE IF EXISTS `educationals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `educationals` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `student_id` bigint unsigned NOT NULL,
  `school` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `age` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `turn_school` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `grade_school` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `school_year` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `professor_signature` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `text` varchar(10000) COLLATE utf8mb4_unicode_ci NOT NULL,
  `period` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `date_pedagogical` date NOT NULL,
  `signature_id` bigint unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `educationals_student_id_foreign` (`student_id`),
  KEY `educationals_signature_id_foreign` (`signature_id`),
  CONSTRAINT `educationals_signature_id_foreign` FOREIGN KEY (`signature_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `educationals_student_id_foreign` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `educationals`
--

LOCK TABLES `educationals` WRITE;
/*!40000 ALTER TABLE `educationals` DISABLE KEYS */;
/*!40000 ALTER TABLE `educationals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `expenses`
--

DROP TABLE IF EXISTS `expenses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `expenses` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `type` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `price` decimal(7,2) NOT NULL,
  `date_of_emission` date NOT NULL,
  `fiscal_number` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `cupom_number` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `enterprise` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `expenses`
--

LOCK TABLES `expenses` WRITE;
/*!40000 ALTER TABLE `expenses` DISABLE KEYS */;
/*!40000 ALTER TABLE `expenses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `failed_jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `connection` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `queue` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `exception` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `frequencies`
--

DROP TABLE IF EXISTS `frequencies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `frequencies` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `student_id` bigint unsigned NOT NULL,
  `class_apae` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `turn_apae` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `month_year` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `observation` varchar(750) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `signature_id` bigint unsigned DEFAULT NULL,
  `1` tinyint(1) DEFAULT NULL,
  `2` tinyint(1) DEFAULT NULL,
  `3` tinyint(1) DEFAULT NULL,
  `4` tinyint(1) DEFAULT NULL,
  `5` tinyint(1) DEFAULT NULL,
  `6` tinyint(1) DEFAULT NULL,
  `7` tinyint(1) DEFAULT NULL,
  `8` tinyint(1) DEFAULT NULL,
  `9` tinyint(1) DEFAULT NULL,
  `10` tinyint(1) DEFAULT NULL,
  `11` tinyint(1) DEFAULT NULL,
  `12` tinyint(1) DEFAULT NULL,
  `13` tinyint(1) DEFAULT NULL,
  `14` tinyint(1) DEFAULT NULL,
  `15` tinyint(1) DEFAULT NULL,
  `16` tinyint(1) DEFAULT NULL,
  `17` tinyint(1) DEFAULT NULL,
  `18` tinyint(1) DEFAULT NULL,
  `19` tinyint(1) DEFAULT NULL,
  `20` tinyint(1) DEFAULT NULL,
  `21` tinyint(1) DEFAULT NULL,
  `22` tinyint(1) DEFAULT NULL,
  `23` tinyint(1) DEFAULT NULL,
  `24` tinyint(1) DEFAULT NULL,
  `25` tinyint(1) DEFAULT NULL,
  `26` tinyint(1) DEFAULT NULL,
  `27` tinyint(1) DEFAULT NULL,
  `28` tinyint(1) DEFAULT NULL,
  `29` tinyint(1) DEFAULT NULL,
  `30` tinyint(1) DEFAULT NULL,
  `31` tinyint(1) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `frequencies_student_id_foreign` (`student_id`),
  KEY `frequencies_signature_id_foreign` (`signature_id`),
  CONSTRAINT `frequencies_signature_id_foreign` FOREIGN KEY (`signature_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `frequencies_student_id_foreign` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `frequencies`
--

LOCK TABLES `frequencies` WRITE;
/*!40000 ALTER TABLE `frequencies` DISABLE KEYS */;
/*!40000 ALTER TABLE `frequencies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_batches` (
  `id` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `total_jobs` int NOT NULL,
  `pending_jobs` int NOT NULL,
  `failed_jobs` int NOT NULL,
  `failed_job_ids` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `options` mediumtext COLLATE utf8mb4_unicode_ci,
  `cancelled_at` int DEFAULT NULL,
  `created_at` int NOT NULL,
  `finished_at` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `attempts` tinyint unsigned NOT NULL,
  `reserved_at` int unsigned DEFAULT NULL,
  `available_at` int unsigned NOT NULL,
  `created_at` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `med_histories`
--

DROP TABLE IF EXISTS `med_histories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `med_histories` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `informant` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `date_of_anamnesis` date NOT NULL,
  `student_id` bigint unsigned NOT NULL,
  `appraisal` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `have_caregiver` tinyint(1) NOT NULL,
  `have_AEE` tinyint(1) NOT NULL,
  `turn_AEE` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `school` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `grade_school` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sige` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `turn_school` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `not_study_justify` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `name_mother` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `date_mother` date NOT NULL,
  `rg_mother` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `profession_mother` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `cellphone_mother` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `name_father` text COLLATE utf8mb4_unicode_ci,
  `date_father` date DEFAULT NULL,
  `rg_father` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `profession_father` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `cellphone_father` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `address` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `have_medication` tinyint(1) NOT NULL,
  `what_medication` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `compplaint` varchar(1024) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `who_lives` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `state_parents_relation` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `time_state_relation` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `new_relation_mother` tinyint(1) NOT NULL,
  `time_new_relation_mother` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `lives_together_new_relation_mother` text COLLATE utf8mb4_unicode_ci,
  `new_relation_father` tinyint(1) NOT NULL,
  `time_new_relation_father` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `lives_together_new_relation_father` text COLLATE utf8mb4_unicode_ci,
  `have_kinship_parents` tinyint(1) NOT NULL,
  `what_kinship_parents` text COLLATE utf8mb4_unicode_ci,
  `have_child_desired` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `gestation_order` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `number_children` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `history_abort` tinyint(1) NOT NULL,
  `abort_justify` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `child_adopted` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `have_pre_natal` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `time_gestation` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `type_childbirth` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `have_disease_gestation` tinyint(1) NOT NULL,
  `what_disease_gestation` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `have_treatment` text COLLATE utf8mb4_unicode_ci,
  `place_birth` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `have_problems_birth` tinyint(1) NOT NULL,
  `what_problems_birth` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `have_discharged_together` tinyint(1) NOT NULL,
  `detail_discharged_together` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `have_neonatal_tests` tinyint(1) NOT NULL,
  `result_neonatal_tests` text COLLATE utf8mb4_unicode_ci,
  `detail_neonatal_tests` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `have_mother_breastfeed` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `have_nozzle` tinyint(1) NOT NULL,
  `detail_nozzle` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `have_delay_NPM` tinyint(1) NOT NULL,
  `detail_delay_NPM` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `have_normal_development` tinyint(1) NOT NULL,
  `detail_normal_development` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `have_desfrald_yet` tinyint(1) NOT NULL,
  `age_desfrald_yet` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `have_sphincters_control` tinyint(1) NOT NULL,
  `age_sphincters_control` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bites_nails` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `hurt_yourself` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `state_sleep` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `sleeps_in_separate` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `sleep_time` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `difficulty_waking_up` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `independent_daily_activities` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `other_difficulty` varchar(1024) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `child_temperament` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `stubbornness` tinyint(1) NOT NULL,
  `tantrum` tinyint(1) NOT NULL,
  `lies` tinyint(1) NOT NULL,
  `aggressiveness` tinyint(1) NOT NULL,
  `shyness` tinyint(1) NOT NULL,
  `affectionate` tinyint(1) NOT NULL,
  `inappropriate_behavior` tinyint(1) NOT NULL,
  `how_manifests_inappropriate_behavior` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tics_manias` tinyint(1) NOT NULL,
  `what_tics_manias` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `hyperfocus` tinyint(1) NOT NULL,
  `how_manifests_hyperfocus` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `waiting_skill` tinyint(1) NOT NULL,
  `tolerates_frustration` tinyint(1) NOT NULL,
  `responds_orders` tinyint(1) NOT NULL,
  `sexual_curiosity` tinyint(1) NOT NULL,
  `how_manifests_sexual_curiosity` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `daily_routine` tinyint(1) NOT NULL,
  `rigidity_daily_routine` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `what_daily_routine` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sports_activity` tinyint(1) NOT NULL,
  `what_sports_activity` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `age_start_school` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `how_school_adaptation` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `have_difficulty_learning` tinyint(1) NOT NULL,
  `justify_difficulty_learning` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `school_reinforcement` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `parents_participate_school_life` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `favorite_activity_school` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `complaint_behavior` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `demonstrates_satisfaction_school` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `report_situation_school_in_home` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `knows_handle_pencil` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `reading_letters` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `reading_words` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `reading_texts` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `do_activities_autonomously` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `not_participate_collective_activities` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `follows_school_routine` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `adapted_activities` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `literacy_level` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `have_allergy` tinyint(1) NOT NULL,
  `what_allergy` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `wear_glasses` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `use_hearing_aid` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `know_libras` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `have_therapeutic` tinyint(1) NOT NULL,
  `times_days_therapeutic` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `history_disorders_family` tinyint(1) NOT NULL,
  `what_history_disorders_family` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `have_update_vaccines` tinyint(1) NOT NULL,
  `detail_update_vaccines` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `relation_family_members` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `super_protected` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `have_access_cellphone` tinyint(1) NOT NULL,
  `time_access_cellphone` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `accompanies_access_cellphone` text COLLATE utf8mb4_unicode_ci,
  `already_had_information_institution` tinyint(1) NOT NULL,
  `who_recommend_institution` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `participate_contribution` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `general_observations` varchar(1024) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `signature_id` bigint unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `med_histories_student_id_foreign` (`student_id`),
  KEY `med_histories_signature_id_foreign` (`signature_id`),
  CONSTRAINT `med_histories_signature_id_foreign` FOREIGN KEY (`signature_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `med_histories_student_id_foreign` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `med_histories`
--

LOCK TABLES `med_histories` WRITE;
/*!40000 ALTER TABLE `med_histories` DISABLE KEYS */;
/*!40000 ALTER TABLE `med_histories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `batch` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `records`
--

DROP TABLE IF EXISTS `records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `records` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `title_header` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `date` date NOT NULL,
  `text` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `type_ata` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `special_signatures` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `number_signatures` int NOT NULL,
  `title_frequency` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `relatives_frequencies` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `records`
--

LOCK TABLES `records` WRITE;
/*!40000 ALTER TABLE `records` DISABLE KEYS */;
/*!40000 ALTER TABLE `records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `regionals`
--

DROP TABLE IF EXISTS `regionals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `regionals` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `title` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `subtitle` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `text` varchar(10000) COLLATE utf8mb4_unicode_ci NOT NULL,
  `signature_id` bigint unsigned NOT NULL,
  `date` date NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `regionals_signature_id_foreign` (`signature_id`),
  CONSTRAINT `regionals_signature_id_foreign` FOREIGN KEY (`signature_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `regionals`
--

LOCK TABLES `regionals` WRITE;
/*!40000 ALTER TABLE `regionals` DISABLE KEYS */;
/*!40000 ALTER TABLE `regionals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `scfvs`
--

DROP TABLE IF EXISTS `scfvs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `scfvs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `theme` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `1Q_objective` varchar(512) COLLATE utf8mb4_unicode_ci NOT NULL,
  `1Q_activity` varchar(512) COLLATE utf8mb4_unicode_ci NOT NULL,
  `1Q_description` varchar(1024) COLLATE utf8mb4_unicode_ci NOT NULL,
  `1Q_resource` varchar(512) COLLATE utf8mb4_unicode_ci NOT NULL,
  `1Q_partner` varchar(512) COLLATE utf8mb4_unicode_ci NOT NULL,
  `1Q_date` date NOT NULL,
  `1Q_place` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `2Q_objective` varchar(512) COLLATE utf8mb4_unicode_ci NOT NULL,
  `2Q_activity` varchar(512) COLLATE utf8mb4_unicode_ci NOT NULL,
  `2Q_description` varchar(1024) COLLATE utf8mb4_unicode_ci NOT NULL,
  `2Q_resource` varchar(512) COLLATE utf8mb4_unicode_ci NOT NULL,
  `2Q_partner` varchar(512) COLLATE utf8mb4_unicode_ci NOT NULL,
  `2Q_date` date NOT NULL,
  `2Q_place` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `students_frequency` varchar(1024) COLLATE utf8mb4_unicode_ci NOT NULL,
  `signature_id` bigint unsigned NOT NULL,
  `date_scfv` date NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `scfvs_signature_id_foreign` (`signature_id`),
  CONSTRAINT `scfvs_signature_id_foreign` FOREIGN KEY (`signature_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `scfvs`
--

LOCK TABLES `scfvs` WRITE;
/*!40000 ALTER TABLE `scfvs` DISABLE KEYS */;
/*!40000 ALTER TABLE `scfvs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sessions` (
  `id` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `ip_address` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` text COLLATE utf8mb4_unicode_ci,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_activity` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_user`
--

DROP TABLE IF EXISTS `student_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_user` (
  `student_id` bigint unsigned NOT NULL,
  `professor_id` bigint unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  KEY `student_user_student_id_foreign` (`student_id`),
  KEY `student_user_professor_id_foreign` (`professor_id`),
  CONSTRAINT `student_user_professor_id_foreign` FOREIGN KEY (`professor_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `student_user_student_id_foreign` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_user`
--

LOCK TABLES `student_user` WRITE;
/*!40000 ALTER TABLE `student_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `students`
--

DROP TABLE IF EXISTS `students`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `students` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name_mother` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `date_of_birth` date NOT NULL,
  `diagnostic` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `cpf` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `student_id` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `school` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sige` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `grade_school` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `turn_school` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `class_apae` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `turn_apae` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `image` varchar(125) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `service` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `archiving_justify` text COLLATE utf8mb4_unicode_ci,
  `state_student` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'alive',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `students`
--

LOCK TABLES `students` WRITE;
/*!40000 ALTER TABLE `students` DISABLE KEYS */;
/*!40000 ALTER TABLE `students` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `access_level` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'user',
  `position` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `state_user` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'alive',
  `password` varchar(125) COLLATE utf8mb4_unicode_ci NOT NULL,
  `remember_token` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-16 15:04:33
