body {
    padding-top: 70px;
}
header { 
    position: fixed; top: -20px; left: 0px; right: 0px; height: 50px; 
}
.signature {
    position: fixed;
    bottom: 70px;
    width: 100%;
    text-align: center;
}
footer {
    position: fixed;
    bottom: -10px;
    width: 100%;
}

.font-times {
    font-family: 'TimesNewRoman', serif;
}
.font-arial {
    font-family: 'Arial', Helvetica, sans-serif;
}
.px14 {
    font-size: 14px;
}
.px12 {
    font-size: 12px;
}

.head-font-nova {
    font-size: 11px;
}
.center-text {
    text-align: center;
}
.center-image {
    text-align: center; /* Centraliza horizontalmente */
    vertical-align: middle; /* Centraliza verticalmente */
    display: table-cell;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    word-wrap: break-word; /* Quebra a palavra quando necessário */
    overflow-wrap: break-word; /* Garantir que a palavra longa seja quebrada */
}
.paragrafo {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.palavra {
    margin-right: 4px;
}
.justify {
    text-align: justify;
}
.capslock {
    text-transform: uppercase;
}

p {
    margin:0;
    padding:0;
}
.m-bottom {
    margin-bottom: 10px;
}
.border {  
    border: 0.5px solid black;
}
table {
    width: 100%;
}
main table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 9px;
}
main th {
    border: 0.5px solid black;
    padding: 8px;
    text-align: center;
}
main tr {
    margin-top: 8px;
    text-align: center;
}
main td {
    padding: 8px 0px;
    border: 0.5px solid black;
    word-wrap: break-word; 
    overflow-wrap: break-word;
}
.bg-gray {
    background-color: #D3D3D3;
}
.no-top-border {
    border-top: none; /* Oculta a borda superior */
}
.no-bottom-border {
    border-bottom: none; /* Oculta a borda inferior */
}
.page-break {
    page-break-before: always;
}